@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Rakkas&display=swap");

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
}

a,
body,
button,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
}

li,
ul {
  list-style: none;
}

button,
input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

textarea {
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: ease-in 400ms;
}
a:hover {
  transition: ease-in 400ms;
  color: #ff4654;
}
a,
img,
picture,
svg,
video {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

iframe,
svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background-color: #1a1a1a;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  padding: 40px 80px;
  margin: 0;
  line-height: 1.8em;
}
h1,
h2,
h3 {
  font-family: "Rakkas", cursive;
  letter-spacing: -1px;
}
h1 {
  font-size: calc(64px + (144 - 64) * ((100vw - 320px) / (1600 - 320)));
  line-height: 0.8em;
}
h2 {
  font-size: calc(40px + (64 - 40) * ((100vw - 320px) / (1600 - 320)));
  line-height: 0.9em;
  margin-bottom: 24px;
}
h3 {
  font-size: calc(36px + (42 - 36) * ((100vw - 320px) / (1600 - 320)));
  line-height: 0.9em;
  margin-bottom: 16px;
}
h4 {
  font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 600;
  line-height: 1.1em;
  margin-bottom: 16px;
}
/*outline strokes*/
@supports (-webkit-text-stroke: 1.5px #f5f5f5) {
  .outlines {
    -webkit-text-stroke: 1.5px #f5f5f5;
    -webkit-text-fill-color: #1a1a1a;
  }
}
.red-title {
  color: #ff4654;
}
.text-align-center {
  text-align: center;
  margin-top: -40px;
}
.hyphenate {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding: 40px;
  }
}
/* ----------- iMpbile & Tablet ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding: 16px;
    margin: 0;
    line-height: 1.8em;
    font-size: 14px;
  }
}

/* Small Mobile */
@media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    padding: 8px;
    margin: 0;
    line-height: 1.8em;
    font-size: 12px;
  }
  h1 {
    font-size: 55px;
  }
  .hyphenate {
    text-align: left-align;
  }
}
